h1{
    font-size:7vh;  
    text-align: center;
}
#bodyContainer{
    padding:0 10vw 10vh 10vw;
}
input{
    font-size: 2vh;
    padding:5px;
}
#suggestionContainer{
    margin-top:3vh;
    border:none;
    display:block;
}
a{
    text-decoration: none;
}
p{
    margin:0;
    padding:8px;
    color:rgb(37, 148, 221);
}
p:nth-child(even) {
    background-color: rgb(224, 185, 224);
}
p:nth-child(odd) {
    background-color: rgb(238, 215, 238);
}